.update-pwd__wrapper {
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    .update-pwd__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}